# 환경 변수 파일
.env
.env.local
.env.*.local

# Python 가상환경
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm / VSCode 관련
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# 로그 / 캐시 / 임시파일
*.log
*.tmp
*.cache
*.pid
*.seed
*.bak

# 빌드 및 배포 산출물
dist/
build/
*.egg-info/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# OS별 파일
.DS_Store
Thumbs.db